.jxyh-1{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 2%;
    width: auto;
    filter: drop-shadow(12px 12px 7px rgba(50,3,15,0.5));
    margin-top: 40px;
    margin-bottom: 20px;
    background: url('../img/content_bg_tile2.png') repeat-y center top;
    padding: 3% 2%;
    }
    .jxyh-2{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 2%;
        width: auto;
        filter: drop-shadow(12px 12px 7px rgba(50,3,15,0.5));
        }
    .jxyh-2 .tm{
        background-size: contain;
        min-height: 175px;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
        transform: scale(1.0);
        margin: 0 0 0 0;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: nowrap;
        margin: 20px 0;
        flex-grow: 1;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        padding: 0;
        text-decoration: none;
        color: #ffffff;
        background: url("../img/steam_awards_banner_schinese.jpg")
    }
    .jxyh1-box{
        width: 1200px;
        height: 420px;
    }
    .jxyh1-boxs{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
    .flexbox{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        transition: opacity 400ms;
        box-sizing: border-box;
        position: relative;
        top: 0;
        left: 0;
        justify-content: space-between;
        padding: 0;
    }
    .boxs1{
        margin-left: 0;
        flex-shrink: 0;
        width: 31%;
        max-width: 340px;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin-bottom: 12px;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    }
    .boxs1 a{
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        text-decoration: none;
        color: #ffffff;
        padding: 0;
        margin: 0;
    
    }
    .boxs1 img{
        display: block;
        max-width: 100%;
        transition: opacity 0.5s;
        border: none;
        padding: 0;
        margin: 0;
    }
    .boxs1 .discount{
        background: none;
        position: absolute;
        right: 0;
        bottom: 5%;
        transition: bottom 0.6s;
        line-height: 15px;
        padding: 0;
        margin: 0;
        display: flex;
    }
    .discount_pct{
        font-weight: bold;
        color: #000000;
        background: #A1CD44;
        padding: 6px;
        font-size: 16px;
        font-family: "Motiva Sans", Sans-serif;
        display: inline-block;
        margin: 0;
    }
    .discount_prices{
        margin: 0;
        background: #344654;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-shrink: 1;
        overflow: hidden;
        justify-content: end;
        padding: 5px 5px;
    }
    .discount_original_price{
        color: #848e94;
        font-size: 14px;
        position: relative;
        width: fit-content;
        line-height: 12px;
        padding: 0;
        margin: 0;
        padding-right: 5px;
    }
    .discount_final_price{
        font-size: 14px;
        color: #ffffff;
        padding-left: 4px;
        line-height: 12px;
        padding: 0;
        margin: 0;
    }
    .lbbox{
        width: 100%;
        background: url('../img/content_bg_tile2.png') repeat-y center top;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        position: relative;
        margin-bottom: 16px;
        margin-top: 16px;
        margin: 0 auto;
        padding: 0;
    }
    .lb{
        background-color: unset;
        color: #ffffff;
        padding: 10px;
        justify-content: center;
        display: flex;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        margin-bottom: 10px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 600;
        margin: 0;
    }
    .lb-content{
        padding: 0;
        margin: 0;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        color: #c6d4df;
        font-size: 12px;
    }
    .lb-content-box{
        position: relative;
        padding: 0;
        margin: 0;
    }
    .lb-content-boxs{
        display: flex;
        justify-content: center;
        position: relative;
        clear: both;
        padding: 0;
        margin: 0;
        padding-bottom: 50px;
        padding-top: 25px;
    }
    .focus{
        display: flex;
        transition: opacity 400ms;
        width: 1100px;
        box-sizing: border-box;
        position: relative;
        justify-content: space-between;
        padding: 0;
        margin: 0
    }

    .focus a{
        flex-shrink: 0;
        margin-right: 8px;
        width: 24%;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;
        text-decoration: none;
        color: #ffffff;
        padding: 0;
        margin: 0
    }
    .focus img{
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }
    .label-box{
        position: absolute;
        bottom: 16px;
        text-align: center;
        width: 90%;
        padding: 1em;
        margin: 0;
    }
    .gradient{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .label-box span{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.1ch;
        color: white;
        text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
        text-transform: uppercase;
        padding: 0;
        margin: 0
    }
    .jyxh-2-1{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 2%;
        width: auto;
        filter: drop-shadow(12px 12px 7px rgba(50,3,15,0.5));
        margin-top: 80px;
        margin-bottom: 70px;
        background: url('../img/content_bg_tile2\ \(1\).png') repeat-y center top;
    }
    .bigbox{
        padding: 2% 3% 0% 3%;
        margin: 0;
    }
    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      /* justify-content: space-between; */
        margin: 0 -6px 12px -6px;
    }
    .row4 a{
        position: relative;
        width: 275px;
        margin: 0 6px;
        flex-grow: 0;
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 0;
    }
    .row3 a{
        position: relative;
        width: 374px;
        margin: 0 6px;
        flex-grow: 0;
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 0;
    }
    .row .imgbox{
        position: relative;
        padding: 0;
        margin: 0;
        transform: scale(1);
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
        z-index: 10;
    }
    .geta{
        transform: scale(1);
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    }
    .imghover{
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 2px solid #e2cb30;
        box-shadow: 4px 4px 10px #110c0c;
        transition: opacity 0.4s;
        z-index: 3;
        padding: 0;
        margin: 0;
    }
    .row .imgbox img{
        transition: opacity 2s;
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;
        max-width: 100%;
        box-shadow: 2px 2px 4px #0e0a0a;
        border: none;
        padding: 0;
        margin: 0;
    }
    .row .discount{
        background: transparent;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-align: right;
        line-height: 15px;
        position: relative;
        display: flex;
        padding: 0;
        margin: 0;
    }
    .row .discount .discount_prices{
        background: #000000;
    }
    .discount_original_price::before {
        content: '';
        left: 0px;
        right: 0px;
        position: absolute;
        top: 43%;
        border-bottom: 1.5px solid #738895;
        transform: skewY(-8deg);
        box-shadow: 0 0 2px black;
      }